{% extends 'base.html' %}
{% block title %}User Login{%endblock title%}
{% block content %}
<div class = "container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<strong>User Login</strong>
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						{{form.as_p}}
				</div>
				<div class="card-footer">
					<input class="btn btn-primary" type="submit" value ="Login">
					</form>
					New Account?<a href="{% url 'register' %}">SingUp Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock content %}
