<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{%endblock title%}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% block style %}
	 <style>
	  body{
	  	background-color: #bddbce;
	  }
	  #mid{
	  	position: absolute;
	  	top: 45%;
	  	bottom: 70%;
	  	text-align: center;
	  	align-content: center;
	  	width: 100%;
	  }
	</style>
	{% endblock style %}
</head>
<body>
	
	{% block content %}
	{% endblock content %}
				
</body>
</html>